@import "tailwindcss";
@import "tw-animate-css";
@import "maplibre-gl/dist/maplibre-gl.css";
@import "react-image-crop/dist/ReactCrop.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  /* LIGHT THEME */
  --background: oklch(0.985 0.001 260);
  --foreground: oklch(0.208 0.013 260);

  --card: oklch(0.985 0.001 260);
  --card-foreground: oklch(0.208 0.013 260);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.208 0.013 260);

  /* Brand */
  --primary: oklch(0.4883 0.2794 266.16);
  --primary-foreground: oklch(0.985 0.001 260);

  --secondary: oklch(0.925 0.002 260);
  --secondary-foreground: oklch(0.365 0.015 260);

  --muted: oklch(0.925 0.002 260);
  --muted-foreground: oklch(0.5 0.01 260);

  --accent: oklch(0.9751 0.0184 137.8);
  --accent-foreground: oklch(0.2 0.01 260);

  --destructive: oklch(0.5737 0.2238 28.16);
  --destructive-foreground: oklch(0.985 0.001 260);

  --border: oklch(0.9 0.005 260);
  --input: oklch(0.9 0.005 260);
  --ring: oklch(0.4883 0.2794 266.16);

  /* charts */
  --chart-1: oklch(0.56 0.18 33);
  --chart-2: oklch(0.65 0.15 170);
  --chart-3: oklch(0.45 0.1 250);
  --chart-4: oklch(0.8 0.2 100);
  --chart-5: oklch(0.7 0.16 20);

  /* sidebar (light) */
  --sidebar: oklch(0.985 0.001 260);
  --sidebar-foreground: oklch(0.208 0.013 260);
  --sidebar-primary: oklch(0.4883 0.2794 266.16);
  --sidebar-primary-foreground: oklch(0.985 0.001 260);
  --sidebar-accent: oklch(0.925 0.002 260);
  --sidebar-accent-foreground: oklch(0.365 0.015 260);
  --sidebar-border: oklch(0.9 0.005 260);
  --sidebar-ring: oklch(0.4883 0.2794 266.16);
}

.dark {
  --background: oklch(0.1448 0 0);
  --foreground: oklch(0.96 0.003 260);

  --card: oklch(0.19 0.003 260);
  --card-foreground: oklch(0.96 0.003 260);

  --popover: oklch(0.1913 0 0);
  --popover-foreground: oklch(0.96 0.003 260);

  --primary: oklch(0.4883 0.2794 266.16);
  --primary-foreground: oklch(0.985 0.001 260);

  --secondary: oklch(0.26 0.006 260);
  --secondary-foreground: oklch(0.96 0.003 260);

  --muted: oklch(0.24 0.004 260);
  --muted-foreground: oklch(0.72 0.02 260);

  --accent: oklch(0.9751 0.0184 137.8);
  --accent-foreground: oklch(0.2 0.01 260);

  --destructive: oklch(0.5737 0.2238 28.16);
  --destructive-foreground: oklch(0.985 0.001 260);

  --border: oklch(0.28 0.006 260);
  --input: oklch(0.25 0.005 260);
  --ring: oklch(0.9499 0.024257 280.8643);

  --chart-1: oklch(0.56 0.18 33);
  --chart-2: oklch(0.65 0.15 170);
  --chart-3: oklch(0.45 0.1 250);
  --chart-4: oklch(0.8 0.2 100);
  --chart-5: oklch(0.7 0.16 20);

  --sidebar: oklch(0.1913 0 0);
  --sidebar-foreground: oklch(0.96 0.003 260);
  --sidebar-primary: oklch(0.4883 0.2794 266.16);
  --sidebar-primary-foreground: oklch(0.985 0.001 260);
  --sidebar-accent: oklch(0.24 0.004 260);
  --sidebar-accent-foreground: oklch(0.96 0.003 260);
  --sidebar-border: oklch(0.28 0.006 260);
  --sidebar-ring: oklch(0.4883 0.2794 266.16);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  @apply bg-background text-foreground;
  font-family: var(--font-quicksand);
}

h1,
h2 {
  font-family: var(--font-stack-sans-notch);
}
